.contato form{
    width: 60%;
}
.contato .form-grup{
    width:100%;
    margin-top: 30px;
}
.contato form input,.contato form textarea{
    background:#fdfdfd;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    line-height: 30px;
    padding-left: 20px;
    width:40%;
    outline:none;
    font-family: inherit;
    transition:all 1s;
}
.contato form textarea{
    line-height:inherit;
    padding-top:10px;
    padding-bottom:10px;
    width:50%;
    height: 100px;
}
.contato form label{
    position: absolute;
    line-height:13px;
    width:40%;
    text-align: center;
    color:rgba(0,0,0,.8);
    font-weight: 100;
    font-size:13px;
    top:-15px;
    transition: all 1s;
    pointer-events:none;
    margin-left: -0px;
    width:10px;
}
.contato form label.focus{
    font-size: 16px;
    text-align: center;
    padding-left:10px;
    line-height:34px;
    top:0;
    transition: all 1s;
    width:40%;
}
.contato form .form-grup{
    position:relative;
}
.contato .btn-send{
    width:30%;
    color:#fff;
    font-family:inherit;
    background:#98CE16;
    border: solid 1px rgba(0,0,0,0.1);
    line-height:30px;
    font-size:17px;
    font-weight:100;
    border-radius:5px;
}

.contato form input:focus,.contato form textarea:focus{
    border-left: 10px solid #98CE16;
    transition:all 1s;
}