.mais-tocadas{
    width:100%;
    display: table;
    height: 291px;
}
.mais-tocadas .alert{
    width: auto;
    float: left;
    background: #E24242;
    line-height:32px;
    color:#fff;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.mais-tocadas .stars{
    float:left;
    display: table;
    line-height:30px;
    color: goldenrod;
    text-align: center;
    margin-left: 10px;
}
.mais-tocadas .stars .star{
    float:left;
    width: 20px;
}
.mais-tocadas .musics{
    float:left;
    width:100%;
    margin-top:10px;
}
.mais-tocadas .musics > .music{
    float:left;
    width: calc((100% / 7) - 10px);
    margin-right: 11.6px;
    line-height:20px;
}
.mais-tocadas .musics > .music:last-child{
    margin:0;
}
.mais-tocadas .musics > .music img{
    width: 100%
}
.mais-tocadas > .musics .music_n{
    font-weight:100;
    font-size:18px;
}
.mais-tocadas > .musics .artist_n{
    font-weight:600;
    font-size:14px;
}
.mais-tocadas .musics > .music::before{
    content:  "  ";
    width:133px;
    line-height:133px;
    background: rgba(0,0,0,0.19);
    display:inline-block;
    position: absolute;
    color:#fff;
    text-align:center;
    font-size: 25px;
    font-family: 'FontAwesome';
    cursor: pointer;
    transition:all 0.3s;
    transform:scale(0,0) rotate(50deg);
}
.mais-tocadas .musics > .music.play::before{
    content:" II " !important;
    opacity:1 !important;
    transform:scale(1,1) rotate(0deg);
}
.mais-tocadas .musics > .music:hover::before{
    transition:all 0.3s;
    transform:scale(1,1) rotate(0deg);
}
.box-facebook{
    float: left;
    display: table;
    width: 660px;
    height: 302px;
}
.box-facebook .title1{
    float: left;
}
.ad{
    float: left;
    width: 250px;
    height: 250px;
    background: rgba(0,0,0,0.2);
    margin-left: 27px;
}
.fala-ae{
    width: 320px;
    float: right;
    height: 510px;
}
.fala-ae .title1::after{
    width: 50px;
}
.fala-ae .content-fa{
    width: 100%;
    display: table;
}
.fala-ae .messages{
    height: 400px;
    overflow-y: scroll;
    margin-top: 10px;
}
.fala-ae *::-webkit-scrollbar{
    background: rgba(0,0,0,0.07);
    border-radius: 50px;
    width:10px;
}
.fala-ae *::-webkit-scrollbar-thumb        {
    background: #02C0E4;
    width: 50%;
    margin:0 auto;
    border-radius: 50px;
}
.fala-ae li{
    background: rgba(0,0,0,0.03);
    margin-bottom:15px;
    padding:10px;
    width: calc(100% - 25px);
    margin-right:5px;
}
.fala-ae .foot-fa{
    background:#02c0e4;
    line-height:50px;
    color:#fff;
    font-weight:600;
    display: table;
    font-size: 13px;
    width:100%;
    box-shadow: 0px 5px 0px #7658F8;
    margin-bottom:8px;
}
.fala-ae .foot-fa span{
    margin-left:10px;
    float:left;
}
.fala-ae .btn-insert{
    float:right;
    height:28px;
    background: rgba(0,0,0,0.1);
    color:#fff;
    border: solid 1px rgba(0,0,0,0.05);
    border-radius:5px;
    margin-top:10px;
    margin-right:10px;
    font-family:inherit;
}
.fala-ae .name{
    font-weight:600;
    font-size: 18px;
    margin-bottom:5px;
    text-transform: uppercase;
    color:#02c0e4;
}
.fala-ae .name::before{
    content:"";
    font-family:FontAwesome;
    color:rgba(0,0,0,0.2);
    margin-right:10px;
}
.fala-ae .messages{
    font-weight:300;
    text-align: justify
}
.ad-app{
    float:left;
    width:calc(100% - 340px);
    margin-top:54px;
    background:rgba(0,0,0,0.07);
    height:115px;
    font-weight:100;
    text-align: center;
    line-height:20px;
    padding-top:35.5px;
}
.ad-app b{
    color:#acd40c;
}
.ad-app .btns{
    width:auto;
    margin:0 auto;
    display:table;
}
.ad-app .btns .google_play{
    height:49px;
    width:150px;
    background: #fff url(../images/google_play.svg) center no-repeat;
    background-size: cover;
    float:left;
    margin-right:10px;
    margin-top:10px;
}
.ad-app .btns .app_store{
    height:49px;
    width:150px;
    background: #fff url(../images/app_store.svg) center no-repeat;
    background-size: cover;
    border-radius:8px;
    float:left;
    margin-left:10px;
    margin-top:10px;
}
.top-n{
    float: left;
    margin-top: 10px;
    display:table;
    width:665px;
    height: 302px;
}
.top-n li{
    float:left;
    width:50%;
    counter-increment:li;
}
.top-n li:before{
    content: counter(li);
    color:#ccc;
    font-size:50px;
    float:left;
    float: left;
    margin-right:10px;
}
.top-n .music{
    color: #B7B700;
    font-weight:700;
    font-size:18px;
    margin-top:6px;
    height: 18px;
    overflow:hidden;
}
.top-n .artist{
    font-size: 15px;
    font-weight:400;
    color:#ccc;
}
.instagram{
    float: right;
    width: 320px;
}
.instagram a{
    text-decoration: none;
}
.instagram a .title1{;
    transition:all 0.3s;
}
.instagram a .title1:hover{
    text-decoration: underline;
    transition:all 0.3s;
    color:#555;
    transform:scale(1.1) rotate(2deg)
}
.instagram > .insta-in{
    width:100%;
    background:#f81;
}
.instagram > .insta-in .pic{
    background: #555;
    width: calc(106.67px - 5px);
    height:101px;
    display:block;
    margin:2.5px;
    float:left;
    background-size:cover;
}
.ad2{
    background:#f42;
    width:300px;
    height: 250px;
    float:left;
    margin-top:10px;
}
.enquete{
    float:left;
    margin-right:15px;
    margin-left:65px;
    width:300px;
}
.enquete .pergunta{
    margin-top: 20px;
    font-weight:600px;
    font-size: 20px;
    text-align:right;
    text-shadow:1px 1px 0px rgba(0,0,0,0.2);
}
.enquete .resposta{
    background:#dc5;
    height:20px;
    margin-top:15px;
    color:#fff;
    position:relative;
    border-radius: 10px;
    box-shadow:2px 2px 10px rgba(0,0,0,0.2);
}
.enquete .resposta .load{
    background:rgba(0,0,0,0.5);
    height:20px;
    border-radius:10px;
    position:absolute;
    left: 0;
    top:0;
    transition: all 1s;
}
.enquete .opcao{
    font-size: 12px;
    position:absolute;
    text-align: center;
    right:0;
    left:0px;
    line-height:20px;
    text-shadow:1px 1px 2px rgba(0,0,0,.5);
    pointer-events: none;
}
.enquete .resposta:hover{
    transform: scale(1.1) rotate(1deg);
    transition: all 0.3s;
    cursor: pointer;
}
.enquete .alert{
    width: 200px;
    background:rgb(239, 239, 239);
    border-radius:50px;
    position:fixed;
    top:0;
}
.enquete .alert::before{
    content: " ";
    display:inline-block;
    background: rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:fixed;
}
.programa{
    float:right;
    width:318px;
    margin-top:10px;
}
.programa .photo{
    background:#ccc;
    height:150px;
    width:100%;
    margin-top: 30px;
}
.programa .data{
    border: solid 1px rgba(0,0,0,0.05);
    border-left: solid 10px #B7B700;
    padding-left:10px;
    margin-top:15px;
    border-radius:5px;
    background: rgba(0,0,0,0.031);
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:20px;
}
.programa h2{
    font-size:20px;
    text-transform:uppercase;
    font-weight:600;
    margin-bottom:10px;
    color:#555;
}
.programa h2::before{
    content:"";
    font-family:FontAwesome;
    color:rgba(0,0,0,0.5);
    margin-right:10px;
    font-weight:100;
}
.programa .horario{
    font-weight:100;
    color:rgba(0,0,0,0.6);
    font-size: 13px;
    font-weight:100;
    margin-top:5px;
}
.programa .horario::before{
    content:"";
    font-family:FontAwesome;
    color:rgba(0,0,0,0.9);
    margin-right:10px;
}
.programa .btn-vote{
    width:100%;
    line-height:30px;
    background:#52a9ca;
    border: solid rgba(0,0,0,0.1) 1px;
    border-radius:5px;
    color:#fff;
    font-family:inherit;
    font-size: 16px;
    font-weight:400;
    padding-left:10px;
    padding-right:10px;
    box-shadow:1px 1px 5px 0px rgba(0,0,0,.1), 0px 2px 5px 0px rgba(0,0,0,.05) inset;
    text-shadow:1px 1px 5px rgba(0,0,0,.1);
    margin-bottom:10px;
    transition:all 0.8s;
}
.programa .btn-vote:hover{
    opacity: 0.8;
    transition:all 0.3s;
}
.parceiros{
    width:667px;
    height:40px;
    float:left;
    display:table;
    margin-top:10px;
}
.parceiros li{
    width:161.76px;
    margin: 2.5px;
    height:45px;
    background:#ccc;
    float:left;
    background: url('http://placehold.it/162x45/ccc/FFFFFF');
}