.playlist > .content-page > .music{
	background: rgba(0,0,0,0.02);
	border: solid 1px rgba(0,0,0,0.06);
	border-radius: 2px;
	height:70px;
	margin-top:10px;
	transition: all 1s;
	position:relative;
}
.playlist .music img{
	float:left;
	height:70px;
	width:70px;
}
.playlist .music > .music{
	float:left;
	font-size: 20px;
	padding-left: 5px;
	text-transform:uppercase;
	width:80%;
	margin-top:15px;
}
.playlist .music > .artist{
	font-size: 17pz;
	opacity: 0.4;
	width:80%;
	margin-left: 5px;
	float:left;
}
.playlist .data-time{
	float:right;
	width:100px;
	height:32px;
	text-align: center;
	margin-top:19px;
	opacity:0.2;
	position:absolute;
	right:0;
}
.playlist .time{
	font-size: 20px;
	font-weight: bold;
	line-height:20px;
}
.playlist .data{
	font-size: 12px;
	line-height: 12px;
}
.playlist button.btn-att{
	background:rgba(0,0,0,0.02);
	border-radius:50%;
	line-height:40px;
	width:40px;
	font-size: 20px;
	color:rgba(0,0,0,0.4);
	text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
	border: solid 1px rgba(0,0,0,0.1);
	margin:0;
	padding:0;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
	outline:none;
}
.playlist button.btn-att:hover{
	box-shadow: 1px 1px 5px rgba(0,0,0,0.05),1px 1px 5px rgba(0,0,0,.05) inset;
	transition: all 01s;
}
.playlist button.btn-att:active{
	box-shadow: 1px 1px 5px rgba(0,0,0,0.05), 5px 5px 5px rgba(0,0,0,.05) inset;
	transition: all 0.3s;
}
.playlist > .content-page > .music.ng-enter{
	opacity: 0;
	transform: scale(1,0);
}
.playlist > .content-page > .music.ng-enter-active{
	opacity: 1;
	transform: scale(1);
}
.playlist > .content-page > .music.ng-leave{
	position:absolute;
}