.programacao .timeline{
    border-left: solid 2px #1899a7;
    margin-left: 10px;
    padding-left: 20px;
}
.programacao .dia > .nome{
    font-size: 30px;
    text-transform:uppercase;
    color:#ccc;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.08);
    position:relative;
    margin-left:20px;
}
.programacao .dia > .nome::after{
    position:absolute;
    content:"  ";
    height:1px;
    width:25px;
    display:inline-block;
    background:#ccc;
    left: -30px;
    margin-top: 15px;
}
.programacao .dia > .nome::before{
    content:" ";
    width: 50px;
    display:inline-block;
    margin-left:-46px;
    background:#1899a7;
    height:2px;
    width:10px;
    position:absolute;
    box-shadow: 0px 0px 0px 2px #fff;
    margin-top:15px;
}
.programacao .nf{
    color:#e07b7b;
    font-weight: 600;
    margin-left:20px;
}
.programacao .dia{
    margin-top:40px;
    display:table;
}
.programacao .dia .programa{
    margin-left:30px;
    background: rgba(0,0,0,0.05);
    padding:10px;
    border: solid 1px rgba(0,0,0,0.05);
    border-radius:50px;
    margin-top:10px;
}
.programacao .dia .programa::before{
    content: " ";
    display:inline-block;
    transition: all 1s;
    width:10px;
    background:#1899a7;
    height:10px;
    border-radius:50%;
    position:absolute;
    margin-left: -67px;
    box-shadow: 0px 0px 0px 2px #fff;
}