@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('http://fontawesome.io/assets/font-awesome/css/font-awesome.css');
body{
	font-family: 'Open Sans', sans-serif;
	overflow-x:hidden;
}
.top{
	width: 100%;
	margin:0 auto;
	display: table;
	background: linear-gradient(rgba(255,255,255,0) 50%, rgba(255,255,255,1)), url(../images/bg-top.png) right;
	background-size: cover;
	min-height: 200px;
	position: relative;
}
.top > .top-in{
	width: 1000px;
	margin:0 auto;
	display: table;
	min-height: 200px;
	position: relative;
}
.bar-top{
	background: #141718;
	height: 30px;
	text-align: left;
	color:#fff;
	font-size: 13px;
}
.bar-top a:hover{
	opacity: 0.8;
	text-decoration: underline;
	transform: all 0.3s;
}
.bar-top a{
	padding-left: 10px;
	transform: all 0.3s;
	padding-right: 10px;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
}
.bar-top > .bar-top-in{
	width: 1000px;
	line-height: 30px;
	margin: 0 auto;
}
.top .a{
	width: 765px;
	flex: left;
	display: table;
}
.top .logo{
	float: left;
	width: 100%;
	margin-top: 40px;
}
.top .ads{
	width: 460px;
	height: 76px;
	margin-right: 5px;
	background: #ffefbf;
	float: right;
	box-shadow: rgba(255,255,255,0.5) 0px 0px 0px 5px;
}
.top .base_logoimg{
	float: left;
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));
}
.top .logo_img{
	width: 272px;
	height: 44px;
	margin-top: 15px;
	background: url(../images/logo.png);
	filter: brightness(1000);
	-webkit-filter: brightness(1000);
}
.top .messages{
	width: 765px;
	margin-top: 30px;
	line-height: 40px;
	float: left;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}
.top .messages ul{
	position: absolute;
	display: table;
}
.top .messages .icon{
	float: left;
}
.ic{
	font-family: 'FontAwesome';
}
.top .messages ul{
	float: left;
	padding-left: 30px;
	font-size: 15px;
	width: 80%
}
.top .messages li{
	position: absolute;
	top: 0;
	transition: all 1s;
	opacity: 0;
	transform: scale(1.05);
}
.top .messages li.active{
	opacity: 1;
	transform: scale(1);
	transition: all 1s;
}
.top .slide{
	width: 765px;
	height: 260px;
	background: #ccc;
	float: left;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.box-onair{
	width: 190px;
	background: rgba(255,255,255,0.6);
	padding:5px;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}
.box-onair > .title{
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 6pt;
	font-size: 13px;
	font-weight: 100;
}
b{
	font-weight: bold;
}
.box-onair .title-prog{
	font-size:20px;
	font-weight: 700;
	color: #4A4A4A;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
	margin-top: 15px;
}
.box-onair .image{
	width: 190px;
	height: 190px;
	box-shadow: #98CE16 30px 36px 0px -30px;
}
.box-onair .playing-now{
	font-weight: 100;
	margin-top:30px;
	font-size: 13px;
}
.box-onair .playing-now .music{
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	font-style: italic;
	opacity: 0.8;

}
.box-onair .listen-btn{
	width: 70%;
	font-size: 20px;
	font-weight: 800;
	background: #464E53;
	border: 1px solid #2E3336;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
	text-transform: uppercase;
	border-radius: 3px;
	text-align: center;
	line-height: 30px;
	margin: 0 auto;
	bottom: 15px;
}
.menu{
	background: #98CE16;
	height: 60px;
	line-height: 60px;
	width: 100%;
	margin-top: 11px;
	box-shadow:#464E53 0px 5px 0px;
}
.menu ul{
	width: 1000px;
	margin:0 auto;
}
.menu ul a{
	color: #fff;
	text-transform: uppercase;
}
.menu ul li{
	width: auto;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	padding-right: 10px;
	font-weight: 600;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	position: relative;
}
.menu ul a:active li::after,.menu ul li:hover::after{
	content: "";
	width: calc(100% - 20px);
	height: 2px;
	background: #fff;
	display: block;
	margin-top: -15px;
	transition: all 0.2s;
	position: absolute;
}
.menu ul li::after{
	left:0;
	right: 0;
	position: absolute;
	margin: 0 auto;
	content: "";
	width: 0;
	height: 2px;
	background: #fff;
	display: block;
	margin-top: -15px;
	transition: all 0.5s;
	position: absolute;

}
.listens-messages{
	width: 700px;
	background: #464E53;
	height: 40px;
	line-height: 40px;
	margin-top: 3px;
	margin:0 auto;
	color: #fff;
	border-radius:0px 0px 8px 8px;
	position: relative;
	padding-left: 10px;
	font-weight: 100;
	font-size: 14px;
}
.listens-messages::after,.listens-messages::before{
	display: block;
	width: 5px;
	height: 5px;
	background: #464E53;
	content: " ";
	position: absolute;
	top: 5px;
	background: url(../images/mask.png);
	background-size:cover;
}
.listens-messages::after{
	left: -5px;
	transform:rotate(90deg);
}
.listens-messages::before{
	right: -5px;	
}
.listens-messages .btn-insert{
	width: 29px;
	height: 29px;
	background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.8));
	color: #464E53;
	right: 10px;
	position: absolute;
	top:6px;
	line-height: 23px;
	text-align: center;
	border-radius: 50%;
}
.listens-messages .btn-insert>div{
	width: 23px;
	height: 23px;
	background: #fff;
	line-height: 23px;
	text-align: center;
	border-radius: 50%;
	margin:3px;
}
.box-onair .social{
	width: auto;
	margin: 0 auto;
	bottom: -20px;
	position: absolute;
}
.box-onair .social div{
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	background: #F19402;
	color: #fff;
	line-height: 30px;
	text-align: center;
	font-size: 19px;
	border-radius: 50%;
	border: solid 3px #fff;
}
.listens-messages ul{
	position: relative;
}
.listens-messages ul li{
	position: absolute;
	top: 0;
	transition: all 0.5s;
	opacity: 0;
	margin-left: 80px;
	transform: rotate(10deg) scale(0);
	filter: blur(10px);
}
.listens-messages ul li.active{
	transition: all 1s;
	opacity: 1;
	margin-left: 0px;
	transform: rotate(0deg) scale(1);
	filter: blur(0px);
}
.footer{
	height: 400px;
	width: 100%;
	background: url(../images/bg-footer.png);
	box-shadow: 0px -5px 10px 0px rgba(0,0,0,0.05);
	position: relative;
	bottom: 0;
	margin-top: 100px;
}
.footer a{
	text-decoration: inherit;
	color: inherit;
}
.footer .logo-footer{
	width: 405px;
	height: 268px;
	background: url(../images/logo-footer.png);
	right: 10%;
	position: absolute;
	top: -111px;
	filter: drop-shadow(0px 50px 10px rgba(0,0,0,00.05));
}
.in{
	width: 1000px;
	margin:0 auto;
	display: table;
}
.cols{
	position: absolute;
	left:0;
	right: 0;
	top: 60px;
}
.cols .col{
	width: calc(100%/5);
	float: left;
	color: #555;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
	font-weight: 400;
	line-height: 20px;
}
.cols .col .t{
	text-transform: uppercase;
	line-height: 50px;
	font-weight: 600;
	letter-spacing: 1px;
}
.cols .col li:hover{
	text-decoration: underline;
	cursor: pointer;
}
.bl:hover{
	text-decoration: none !important;
}
.bl{
	filter: grayscale(100%);
	cursor: not-allowed !important;
	opacity: 0.8;
}
.menu-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	background: #35454F;
	line-height: 38px;
}
.menu-footer li{
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	font-weight: 100;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}
.menu-footer li:hover{
	text-decoration: underline !important;
}
.credit{
	width: 1000px;
	line-height: 38px;
	margin: 0 auto;
	display: table;
	text-align: right;
	margin-top: -38px;
	font-size: 12px;
	box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
}
.credit a{
	text-decoration: none;
	color: #fff;
	opacity: 0.5;
}
.footer .foot-footer{
	width: 100%;
	color: #555;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
	bottom: 38px;
	border-top:1px solid rgba(255,255,255,0.3);
	position: absolute;
	font-weight: 100;
	line-height: 60px;
}
div.ng-view{
	transition: margin 0.5s,filter 0.5s;
	float: left;
	width: 100%;
	filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.0));
}
div.ng-view.ng-enter{
	margin-left: -100%;
	filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.5));
}
div.ng-view.ng-enter-active{
	margin-left: -0%;
}
div.ng-view.ng-leave{
	margin-left: -0%;
	position: absolute;
	filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
}
div.ng-view.ng-leave-active{
	margin-left: 100%;
}
.content{
	overflow: hidden;
	width: 100%;
}
.content-in{
	width: 100%;
	display: table;
}
.title1{
	width: 100%;
	font-size: 22px;
	font-weight: 600;
	line-height:22px;
	color: #525252;
	text-shadow:0px 0px 1px rgba(0,0,0,0.2);
	margin-top:10px;
	margin-bottom:10px;
}
.title1::after{
	content:" ";
	display:table;
	background:#FECE7B;
	width:100px;
	height:4px;
	margin-top:6px;
}
.title1.right{
	text-align: right;
	position: relative;
}
.title1.right::after{
	float: right;
	right: 0;
	position: absolute;
}

.title-page{
	width: 100%;
	font-size: 50px;
	color:#666;
	text-transform:uppercase;
	font-weight:600;
	position:relative;
	margin-bottom:50px;
	margin-top:10px;
	padding-top:50px;
	border-top: solid 1px rgba(0,0,0,0.05);
	pointer-events:none;
}
.title-page::after{
	content:" ";
	display:inline-block;
	width:100px;
	height:5px;
	background:#98CE16;
	position:absolute;
	left:0;
	top:100px;
}
#bar-alert{
	width:100%;
	line-height:30px;
	background:#1e9a33;
	position:fixed;
	top:-30px;
	text-align: center;
	font-weight:600;
	color:#fff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.4);
	opacity:0.95;
	transition:top linear 1s;
	z-index:99999999999999999999999999999999999999999999999;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	pointer-events:none;
}
#bar-alert.active{
	opactity: 1;
	top:0px;
	transition:top linear 1s;
}
#player{
	background:#fbc;
	width: calc(100% - 500px);
	border-left: 250px solid #464E53;
	border-right: 250px solid #464E53;
	position:fixed;
	z-index: 999999999;
	bottom:0;
	box-shadow: -0px -1px 10px rgba(0,0,0,0.2);
	border-top: solid 3px #98CE16;
}
.slide #slide_pz{
	width:100%;
	height:100%;
	position:relative;
}
#slide_pz .owl-item{
	float:left;
	height:260px;
	width: 765px;
}
#slide_pz .owl-item img{
	height:260px;
	width: 765px;
}
#slide_pz .owl-wrapper{
	height: 260px;
	display:table;
}
#slide_pz .owl-wrapper-outer{
	overflow:hidden;
}
#slide_pz .item{
	width:100%;
	height:100%;
	position:relative;
	background:#fcc;
}
#slide_pz .title_slide{
	width:100%;
	cursor:pointer;
	background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.3));
	padding-top:100px;
	bottom:0;
	transition: all 1s;
	position:absolute;
	color:#fff;
	font-weight:600;
}
#slide_pz .title_slide h1{
	padding: 20px;
	padding-bottom :0;
	font-size: 25px;
	text-transform: uppercase;
}
#slide_pz .title_slide h2{
	padding-left: 20px;
	padding-bottom:20px;
}
#slide_pz .owl-buttons div{
	width:40px;
	line-height:0px;
	background:#d9d9d9;
	color:#333;
	text-align: center;
	color:transparent;
	border-radius:50%;
	transition: all 0.3s;

}
#slide_pz .owl-buttons div::before{
	content:"";
	color:#333;
	text-align: center;
	display:inline-block;
	line-height:40px;
	font-family: FontAwesome;
	width:40px;
	font-size: 30px;
	pointer-events:none;
}
#slide_pz .owl-buttons .owl-next::before{
	content:"";
}

#slide_pz .owl-buttons .owl-prev::before{
	content:"";
}
#slide_pz .owl-buttons .owl-next{
	position:absolute;
	top:100px;
	right: -10px;
	opacity: 0;
}
#slide_pz:hover .owl-buttons .owl-next{
	position:absolute;
	top:100px;
	right: 10px;
	opacity: 1;
}
#slide_pz .owl-buttons .owl-prev{
	position:absolute;
	top:100px;
	left: -10px;
	transition: all 0.3s;
	opacity: 0;
}
#slide_pz:hover .owl-buttons .owl-prev{
	position:absolute;
	top:100px;
	left: 10px;
	transition: all .3s;
	opacity: 1;
}


/*formulario do falaae*/
.base-falaae-form{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top:0;
	left: 0;
	z-index: 999999;
	display: table;
	transition: all linear .3s;
	opacity: 1;
}
.base-falaae-form.ng-enter,.base-falaae-form.ng-leave-active{
	opacity: 0;
}
.base-falaae-form.ng-enter-active,.base-falaae-form.ng-leave{
	opacity: 1;
}
.falaae-form{
	width: calc(95% - 44px);
	padding: 20px;
	max-width: 300px;
	background: #bdcc1a;
	border: solid 2px rgba(0,0,0,0.2);
	color:#fff;
    display:table;
    margin: 0 auto;
    top: calc((100% - 414px) / 2);
    position: fixed;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
	z-index: 9999999;
	transition: all linear .3s;

}
.falaae-form.ng-enter{
	transform: scale(0);
}
.falaae-form.ng-enter-active{
	transform: scale(1);
}
.falaae-form.ng-leave{
	transform: scale(1);
}
.falaae-form.ng-leave-active{
	transform: scale(0);
}
.falaae-form h2{
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}
.falaae-form input[type="text"]{
	width: calc(100% - 12px);
	border: solid 1px rgba(0,0,0,0.5);
	line-height: 30px;
	padding-left: 10px;
	font-family: inherit;
	border-radius: 3px;
	outline: none;
}
.falaae-form .form-grup{
	margin-bottom: 12px;
}
.falaae-form input[type='checkbox']{
	width: 12px;
	height: 12px;
	border: solid 1px #333;
	outline: none;
	background: none;
}
.falaae-form .checkbox label{
	font-size: 12px;
}
.falaae-form button.submit_falaae{
	width: 300px;
	margin-left: 100%;
	background: rgba(0,0,0,0.1);
	line-height: 40px;
	border: none;
	outline: none;
	font-family: inherit;
	text-align: center;
	text-transform: uppercase;
	font-size: 19px;
	margin: 0 auto;
	margin-left: calc((100% - 304px) / 2);
}
.falaae-form .button-close{
	margin-top: -20px;
	margin-right: -20px;
	float: right;
	background: rgba(0,0,0,0.1);
	color: #ba4828;
	font-size: 18px;
	cursor:pointer;
}