<audio style="dijsplay:none" id="player" volume="0.5" controls autoplay id="player">
	<source src="htts://pz.radioplayzone.com.br:8263/;" type="audio/aacp"/>
	<source src="http://pz.radioplayzone.com.br:8263/;" type="audio/mpeg"/>
</audio>
<script type="text/javascript">
	
	var vid = document.getElementById("player");
vid.volume = 0;
</script>