<!DOCTYPE html>
<html lang="pt" ng-app="pz">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Patrick Hadson" />
	<meta name="copyright" content="© 2013 Rádio Play Zone" />
	<meta name="description" content="Rádio Play Zone, a rádio que sempre inova! Os melhores hitz é na Rádio Play Zone. Música? Dá um Play!" />
	<meta name="keywords" content="rádio, play zone, radio play zone, rádioplayzone, playzone, interferencia, conexão jovem, time paradise, time fm, garagem virtual, cafeina, musica 24h, musica aovivo, musicas brasileiras, musicas internacionais, rádio br, web radio, radio fm na internet, radio internet, radio net, radio boa, radio com locutor" />
	<meta name="rating" content="general" />
	<meta name="robots" content="follow" />
	<meta http-equiv="content-language" content="pt-br, en-US" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta http-equiv="content-script-type" content="text/javascript" /> 
	<meta http-equiv="content-style-type" content="text/css" />
	<meta name="DC.title" content="Rádio Play Zone" />
	<meta name="DC.creator " content="Patrick Hadson" />
	<meta name="DC.creator.address" content="pkhadson@gmail.com" />
	<link rel="author" href="http://facebook.com/pkhadson"./>
	<link rel="publisher" href="http://facebook.com/pkhadson"./>
	<meta itemprop="name" content="Título ou nome">
	<meta itemprop="description" content="Descrição da página">
	<meta itemprop="image" content="http://www.radioplayzone.com.br/images/cover.png">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@ylutherdeck">
	<meta name="twitter:title" content="Rádio Play Zone">
	<meta name="twitter:description" content="Rádio Play Zone, a rádio que sempre inova! Os melhores hitz é na Rádio Play Zone. Música? Dá um Play!">
	<meta name="twitter:creator" content="@yLutherdeck">
	<meta name="twitter:image" content="http://www.radioplayzone.com.br/images/cover.png">
	<meta property="og:title" content="Rádio Play Zone" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://www.radioplayzone.com.br/" />
	<meta property="og:image" content="http://www.radioplayzone.com.br/images/cover.png" />
	<meta property="og:description" content="Rádio Play Zone, a rádio que sempre inova! Os melhores hitz é na Rádio Play Zone. Música? Dá um Play!" />
	<meta property="og:site_name" content="Rádio Play Zone" />
	<meta property="article:published_time" content="2017-09-17T05:59:00+01:00" />
	<meta property="article:modified_time" content="2017-09-16T19:08:47+01:00" />
	<meta property="article:section" content="Rádio" />
	<meta property="article:tag" content="rádio, play, zone, play zone, playzone" />
	<meta property="fb:admins" content="100007510921321" />
	<base href='/' />
	<title>Rádio Play Zone</title>
	<link rel="stylesheet" type="text/css" href="./css/reset.css">
	<link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-animate.min.js"></script>
	<script src="js/angular-locale_pt-br.js"></script>
	<script src="js/angular.audio.js"></script>
	<link rel="shortcut icon" href="images/favicon.png">
	<link rel="canonical" href="https://radioplayzone.com.br/home" />
	<script src="http://www.landmarkmlp.com/js-plugin/owl.carousel/assets/js/jquery-1.9.1.min.js"></script> 
    <script src="http://www.landmarkmlp.com/js-plugin/owl.carousel/owl-carousel/owl.carousel.js"></script>
</head>
<body>
<div id="bar-alert"></div>
<div class="bar-top">
	<div class="bar-top-in">
		<a ng-click="funcPopUpShow(2)">Pedido </a>|
		<a class="ss" href="#enquete">ENQUETE</a>|
		<a class="ss" href="#topn">TOP NACIONAL</a>|
		<a href="whatsapp" target="_blank">WHATSAPP</a>
	</div>
</div>
<div class="top" ng-controller="TopCtrl">
	<style type="text/css">
		a[href='{{location.path()}}'] li::after{
	content: "";
	width: calc(100% - 20px);
	height: 2px;
	background: #fff;
	display: block;
	margin-top: -15px;
	transition: all 0.2s;
	position: absolute;
		}
	</style>
	<div class="top-in">
		<div class="a">
			<div class="logo">
				<div class="base_logoimg">
					<div class="logo_img"></div>
					<h1 style="display:none">Rádio Play Zone</h1>
				</div>
				<div class="ads">
					<img title="Anuncio WhatsApp" alt="Anuncio topo" src="http://i.imgur.com/dc85axC.png" width="100%" height="100%" />
				</div>
			</div>
		</div>
		<div class="messages">
			<div class="icon ic"></div>
			<ul>
				<li ng-repeat="message in messages" class="message message-tp" ng-class="{'active':funcMessages({{$index}})}">{{message.frase}}</li>
			</ul>
		</div>
		<div class="slide"><div id="slide_pz" class="owl-carousel owl-theme">
 
</div></div>
		<div class="box-onair">
			<div class="title">agora no<b>ar</b></div>
			<img title="Rádio Play Zone" alt="imagem programa ao vivo" src="images/programas/{{noar.id}}.jpg" alt="Programa aovivo" class="image" />
			<div class="title-prog">{{noar.programa}}</div>
			<div class="playing-now">
				Tocando agora:
				<div class="music"><marquee scrolldelay="100">{{noar.music}}</marquee></div>
			</div>
			<div class="listen-btn">OUVIR</div>
			<div class="social">
				<a href="##"><div class="ic"></div></a>
				<a href="##"><div class="ic"></div></a>
				<a href="##"><div class="ic"></div></a>
				<a href="##"><div class="ic"></div></a>
			</div>
		</div>
	</div>
	<div ng-if="popUpShow!=0" ng-click="funcPopUpShow(0)" class="base-falaae-form"></div>
	<div ng-if="popUpShow!=0"  class="falaae-form">
		<div ng-click="funcPopUpShow(false)" class="button-close ic"></div>
		<h2 ng-if="popUpShow==1">Envie-nos uma mensagem</h2>
		<h2 ng-if="popUpShow==2">Envie-nos um pedido</h2>
		<form ng-submit="submitForm(form_, popUpShow)">
			<div class="form-grup">
				<label>Seu nome:</label>
				<input ng-model="form_.nome" type="text" required placeholder="Digite seu nome" />
			</div>
			<div class="form-grup">
				<label>Sua cidade:</label>
				<input ng-model="form_.cidade" type="text" required placeholder="Digite o nome de sua cidade" />
				</div>
			<div ng-if="popUpShow==1" class="form-grup">
				<label>Sua mensagem:</label>
				<input ng-model="form_.mensagem" type="text" required placeholder="Digite sua mensagem" />
			</div>
			<div ng-if="popUpShow==2" class="form-grup">
				<label>Seu pedido/recado:</label>
				<input ng-model="form_.mensagem" type="text" required placeholder="Digite seu pedido/recado" />
			</div>
			<div ng-if="popUpShow==1" class="form-grup checkbox">
				<input type="checkbox" required />
				<label>Eu concordo que a minha mensagem poderá aparecer no conteúdo do site.</label>
			</div>
			<h3 style="margin-bottom: 10px;text-align: center">Não faça pedidos de músicas usando esse recurso!</h3>
			<div class="form-grup">
				<button ng-if="popUpShow==1" class="submit_falaae">Enviar Mensagem</button>
				<button ng-if="popUpShow==2" class="submit_falaae">Enviar Pedido</button>
			</div>
		</form>
	</div>
</div>
<div class="menu">
	<ul class="meni-in">
		<a href="./"><li>home</li></a>
		<a href="sobre"><li>a rádio</li></a>
		<a href="whatsapp" target="_blank"><li>Faça amizades</li></a>
		<a href="playlist"><li>playlist</li></a>
		<a href="eusoumaisplayzone" target="_blank"><li class="active">promoção</li></a>
		<a href="programacao"><li>programação</li></a>
		<a href="contato"><li>contato</li></a>
	</ul>
</div>
<div ng-controller="ListensMessagesCtrl" class="listens-messages">
	<ul>
		<li ng-repeat="message in messages_l" class="lm" ng-class="{'active':funcMessages({{$index}})}"><b style="text-transform: uppercase">{{message.author.nome}}:</b> {{message.message}}</li>
	</ul>
	<div ng-click="funcPopUpShow(1)" class="btn-insert ic"><div></div></div>
</div>
<div class="content">
	<div class="content-in">
		<div class="ng-view"></div>
	</div>
</div>
<div class="footer">
	<div class="logo-footer"></div>
	<div class="cols in">
		<ul class="col">
			<li class="t">playzone</li>
			<a href="./sobre"><li>A Rádio</li></a>
			<a href="./whatsapp" target="_blank"><li>Grupo PlayZone</li></a>
			<a href="./contato"><li>Anuncie</li></a>
			<a href="#enquete" class="ss"><li>Enquete</li></a>
			<a href="./contato"><li>Fale Conosco</li></a>
		</ul>
		<ul class="col">
			<li class="t">rádio</li>
			<li class="bl">Youtube</li>
			<a href="./programacao"><li>Progamas</li></a>
			<li>Pedidos</li>
			<a href="#falaae" class="ss"><li>#FalaAê</li></a>
			<a href="./eusoumaisplayzone" target="blank"><li>Eu sou mais Play Zone</li>
		</ul>
		<ul class="col">
			<li class="t">música</li>
			<a href="#mt" class="ss"><li>As mais tocadas</li></a>
			<a href="./playlist"><li>Playlist</li></a>
			<a href="#programam" class="ss"><li>Programa do mês</li></a>
			<a href="./whatsapp" target="_blank"><li>Minha voz na Rádio</li></a>
			<li class="bl">Youtube</li>
		</ul>
	</div>
	<div class="foot-footer">
		<div class="in">
			<span>Copyright ©‎ 2013-2017 | <b>Rádio Play Zone</b>. All rights reserved</span>
		</div>
	</div>
	<div class="menu-footer">
		<ul class="in">
			<a href="##"><li>TERMOS DE USO</li></a>
			<a href="##"><li>POLÍTICA DE PRIVACIDADE</li></a>
			<a href="##"><li>PERGUNTAS FREQUENTES</li></a>
		</ul>
		<div class="credit">
			Powered by: <a href=".//fb.com/pkhadson" target="_blank">Patrick Hadson </a> | <a class="higor" href=".//fb.com/pkhadson" target="_blank"> Higor Sales</a></div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/playzone.app.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = ".//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8&appId=214311475699507";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<iframe frameborder="none" src="/player/player-site" style="position:fixed;bottom:0;left:0;width:100%;height:62px;overflow: hidden;" allowtransparency="true" scrolling="no"></iframe>
<div style="display:none">
	<div class="music_c"></div>
	<div class="music_a"></div>
</div>
</body>
</html>