<div class="in">
	<div class="title-page">BATE-PAPO</div>
	<div class="content-page" style="text-align:center">
		<embed wmode="transparent" src="http://www.xatech.com/web_gear/chat/chat.swf" quality="high" width="800" height="505" name="chat" FlashVars="id=219080760" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://xat.com/update_flash.php" />

	</div>
</div>