<link rel="stylesheet" type="text/css" href="css/contato.css">
<div class="in contato">
	<div class="title-page">Contato</div>
	<form ng-submit="funcContato(contact)">
		<div class="form-grup">
			<label ng-class="{'focus':!contact.name}">Nome</label>
			<input type="text" required name="oi" ng-model="contact.name" />
		</div>
		<div class="form-grup">
			<label ng-class="{'focus':!emaill}">Email</label>{{ooi}}
			<input type="email" ng-focus="emaill=true" required name="oi" ng-model="contact.email" />
		</div>
		<div class="form-grup">
			<label ng-class="{'focus':!contact.cidade}">Cidade</label>
			<input type="text" name="oi" ng-model="contact.cidade" />
		</div>
		<div class="form-grup">
			<label ng-class="{'focus':!contact.conteudo}">Mensagem</label>
			<textarea ng-model="contact.conteudo"></textarea>
		</div>
		<div class="form-grup">
			<button class="btn-send">Enviar email</button>
		</div>
	</form>
</div>