<link rel="stylesheet" type="text/css" href="css/home.css">
<div class="in">
	<div id="mt" class="mais-tocadas">
		<div class="title1">As mais tocadas</div>
		<div class="alert"><b>Chandelier</b> de <b>Sia</b> é o single mais tocado na semana.</div>
		<div class="stars">
			<div class="star ic"></div>
			<div class="star ic"></div>
			<div class="star ic"></div>
			<div class="star ic"></div>
			<div class="star ic"></div>
		</div><audio id="preview" width="100px" height="50px">
	<source src="{{preview}}" type="audio/aac">
</audio>
		<div class="musics">
			<div class="music" ng-click="previewM(true, 'preview/music/'+music.music+' - '+music.artist)" ng-repeat="music in mais_tocadas" ng-class="{play: checkPreview(music)}">
				<img title="{{music.music}} - {{music.artist}}" src="images/mais_tocadas/{{music.id}}.jpg" alt="mais tocadas {{music.music}} - {{music.artist}}" />
				<div class="music_n">{{music.music}}</div>
				<div class="artist_n">{{music.artist}}</div>
			</div>
		</div>
	</div>
	<div class="box-facebook">
		<div class="title1">Curta nossa página</div>
		<div style="float:left;width: 376px;" class="fb-page" data-href="https://www.facebook.com/radioplayzone/" data-width="376" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/radioplayzone/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/radioplayzone/">Rádio Play Zone</a></blockquote></div>
		<div class="ad"></div>
	</div>
	<div id="falaae" class="fala-ae">
		<div class="title1 right">Fala aê</div>
		<div class="content-fa">
			<ul class="messages">
				<li ng-repeat="message in messages_l">
					<div class="name">{{message.author.nome}}</div>
					<div class="message">{{message.message}}</div>
				</li>
			</ul>
			<div class="foot-fa">
				<span>Deixe seu recado no #falaae</span>
				<button ng-click="funcPopUpShow(true)" class="btn-insert">ESCREVER</button>
			</div>
		</div>
	</div>
	<div class="ad-app">
		<div class="message">Baixe nosso aplicativo em seu <b>Celular</b> ou <b>Tablet</b></div>
		<div class="btns">
			<div class="google_play"></div>
			<div class="app_store"></div>
		</div>
	</div>
	<ol id="topn" class="top-n">
		<div class="title1">Top Nacional</div>
		<li ng-repeat="music in top_nacional">
			<div class="music"> {{music.music}}</div>
			<div class="artist"> {{music.artist}}</div>
		</li>
	</ol>
	<div class="instagram">
		<a href="http://instagram.com/radioplayzone" target="_blank"><div class="title1 right">Siga-nos no Instagram</div></a>
		<div class="insta-in">
			<div class="pic"></div>
			<div class="pic"></div>
			<div class="pic"></div>
			<div class="pic"></div>
			<div class="pic"></div>
			<div class="pic"></div>
			<div class="pic"></div>
			<div class="pic"></div>
			<div class="pic"></div>
		</div>
	</div>
	<div class="ad2"></div>
	<div id="enquete" class="enquete">
		<div class="title1 right">Enquete</div>
		<div class="enquete-in">
			<div class="pergunta">{{enquete.pergunta}}</div>
			<div class="respostas">
				<div class="resposta" ng-repeat="enquete in enquete.resultado" ng-click="votoEnquete(enquete, $index)">
					<div class="load" style="width:{{enquete.votos / enqueteTotal * 100}}%;"></div>
					<div class="opcao">{{enquete.resposta}} ({{enquete.votos / enqueteTotal * 100 | number:0}}%)</div>
				</div>
			</div>
		</div>
	</div>
	<div id="programam" class="programa">
		<div class="title1 right">Programa do mês</div>
		<div class="programa-in">
			<div class="photo" style="background: url('images/programas/{{programa_mes.id}}.jpg') center;background-size:cover;"></div>
			<div class="data">
				<h2>{{programa_mes.programa}}</h2>
				<div class="horario">{{programa_mes.inicio | date:'HH:mm'}} às {{programa_mes.fim | date:'HH:mm'}}</div>
			</div>
			<button class="btn-vote">Vote para o mês de Abril</button>
		</div>
	</div>
	<ul class="parceiros">
		<a ng-repeat="parceiro in parceiros" href="{{parceiro.link}}" target="_blank"><li style="background: url('images/parceiros/{{parceiro.id}}.jpg') center;background-size: cover"></li></a>
	</ul>
</div>