<link rel="stylesheet" type="text/css" href="css/playlist.css">
<div class="in playlist">
	<div class="title-page">Playlist</div>
	<div class="content-page">
	<button class="btn-att ic" ng-click="loadPlaylist()"></button>
	<p style="opacity: 0.3">Confira as ultimas musica tocadas na rádio</p>
		<div ng-repeat="music in playlist" class="music">
			<img height="50px" width="50px" src="http://radioplayzone.com/images/music/{{music.title[0]}} {{music.title[1]}}/50" class="image" />
			<div class="music" ng-bind="music.title[1]">Rádio Play Zone</div>
			<div class="artist" ng-bind="music.title[0]">Música? Dá um play</div>
			<div class="data-time">
				<div class="time">{{music.playedat*1000 | date: 'hh:mm'}}</div>
				<div class="data">{{music.playedat*1000 | date: 'dd/MM/yyyy'}}</div>
			</div>
		</div>
	</div>
</div>