<link rel="stylesheet" type="text/css" href="css/programacao.css">
<div class="in programacao">
	<div class="title-page">
		Programação
	</div>
	<div class="content-page">		<div class="timeline">
		<div ng-repeat="dia in dias | orderBy:'time'" class="dia"><div class="nome">{{dia.nome}}</div>
			<div ng-repeat="programa in programacao | filter:dia.abreviacao" class="programa">
				<b>{{programa.programa}}</b> {{(programa.inicio*1000)+(60*60*2*1000) | date:"HH:mm"}} às {{(programa.fim*1000)+(60*60*2*1000) | date:"HH:mm"}}
			</div>
			<div ng-if="(programacao | filter:dia.abreviacao).length==0" class="nf">Nenhuma programação para esse dia</div>
		</div>
	</div>
</div>