<div class="in">
	<div class="title-page">A RÁDIO</div>
	<div class="content-page sobre" ng-bind="sobre">
	</div>
	<div style="float:right;width: 35%;height:800px" class="fb-page" data-href="https://www.facebook.com/radioplayzone/" data-width="376" data-small-header="false" data-adapt-container-width="false" data-tabs="timeline" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/radioplayzone/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/radioplayzone/">Rádio Play Zone</a></blockquote></div>
</div>
<style>
	.content-page.sobre{
	width:60%;
	font-size: 17px;
	font-weight:300;
	text-align:justify;
	line-height:25px;
	float:left;
}
.content-page.sobre:before{
	content:" ";
	display: inline-block;
	width:50px;
	height:40px;
	background#fcc;
}
</style>