@charset "utf-8";
/* CSS by Higor Sales */

body{
	margin:0px;
	padding:0px;
}
#player-topo{
	width:100%;
	height:50px;
	background:#b8ac93;
}
#player-topo .head{
	width:1000px;
	height:50px;
	margin:0 auto;
}
#player-topo #lm{
	background:url(../images/lm.png) no-repeat;
	width:406px;
	height:50px;
	float:right;
	margin-right:10px;
}
#player-topo #logo-playzone{
	background:url(../images/logo.png) no-repeat;
	width:173px;
	height:50px;
	float:left;
}
#player-topo #box-play-pause{
	width:50px;
	height:50px;
	float:left;
	background:url(../images/box-player.png) no-repeat;
	margin-left:50px;
}
#box-play-pause #playBtn{
	width:40px; 
	height:40px; 
	position:absolute;
	margin-left:5px;
	margin-top:5px;
	background-image:url(../images/play.png);
	background-repeat:no-repeat;
	cursor:pointer;
}

#box-play-pause #stopBtn{
	width:40px; 
	height:40px; 
	position:absolute; 
	margin-left:5px;
	margin-top:5px;
	background-image:url(../images/stop.png);
	background-repeat:no-repeat;
    cursor:pointer;
}
#player-topo #info-redes{
	background:url(../images/info-redes.png) no-repeat;
	width:150px;
	height:50px;
	float:left;
	margin-left:110px;
}
#info-redes #facebook{
	width:23px;
	height:23px;
	background:url(../images/facebook-icon.png) no-repeat;
	float:left;
	margin-top:22px;
	margin-left:50px;
	-webkit-transition:all 0.720s;
	-moz-transition:all 0.720s;
	-ms-transition:all 0.720s;
	-o-transition:all 0.720s;
}
#info-redes #facebook:hover{
	width:23px;
	height:23px;
	background:url(../images/facebook-icon.png) no-repeat;
	float:left;
	margin-top:22px;
	margin-left:50px;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-webkit-transition:all 0.720s;
	-moz-transition:all 0.720s;
	-ms-transition:all 0.720s;
	-o-transition:all 0.720s;
}
#info-redes #twitter{
	width:23px;
	height:23px;
	background:url(../images/twitter-icon.png) no-repeat;
	float:left;
	margin-top:22px;
	margin-left:15px;
	-webkit-transition:all 0.720s;
	-moz-transition:all 0.720s;
	-ms-transition:all 0.720s;
	-o-transition:all 0.720s;
}
#info-redes #twitter:hover{
	width:23px;
	height:23px;
	background:url(../images/twitter-icon.png) no-repeat;
	float:left;
	margin-top:22px;
	margin-left:15px;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-webkit-transition:all 0.720s;
	-moz-transition:all 0.720s;
	-ms-transition:all 0.720s;
	-o-transition:all 0.720s;
}