* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	background: #ffffff;
	font-family: Arial;
}

#player_cooeemania_wrapper, #player_cooeemania {
	visibility: hidden;
	position: absolute !important;
	left: 0;
	top: 0;
}


#counter {
	font-size: 40px;
	text-align: center;
	color: #fff;
	margin-top: 20px;
	padding: 10px;
}

#counter .highlighted {
	color: #FFC540;
}

#counter_icon {
	width: 45px;
	height: 52px;
	background: url(../img/man/icons.png) 0px -700px no-repeat; 
	display: inline-block;
	position: relative;
	top: 7px;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

#player {
	height: 62px;
	width: 1000px;
	background: url(../img/man/pla.png);
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
}

.player-controller {
	width: 30px;
	height: 30px;
	float: left;
	position: relative;
	transition: margin 0.25s;
	cursor: pointer;
}

.player-controller a, .radio-icon {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/man/icons.png);
	text-indent: -9999px;
	margin: 20px 10px;
	transition: margin 0.25s;
}

.player-controller:hover a {
	margin-top: 10px;
}

.player-controller.active a {
	margin-top: 10px;
}

/* play */

.player-controller#radio-play a {
	background-position: -10px -600px;
}

.player-controller#radio-play:hover, .player-controller.active#radio-play {
	margin-top: 5px;
}

.player-controller#radio-play:hover a, .player-controller.active#radio-play a {
	background-position: -150px -600px;
}

/* pause */

.player-controller#radio-pause a {
	background-position: -10px -498px;
}

.player-controller#radio-pause:hover, .player-controller.active#radio-pause {
	margin-top: 5px;
}

.player-controller#radio-pause:hover a, .player-controller.active#radio-pause a {
	background-position: -150px -498px;
}

#radio-actions {
	float: left;
	margin-top: 10px;
	margin-left: 80px;
}

#radio-volume {
	width: 160px;
	float: left;
	margin-left: 30px;
	margin-top: 8px;
}

#volume-slide-wrapper {
	width: 90px;
	margin: 29px 5px;
	height: 10px;
	float: left;
}

#volume-slide.ui-slider { 
	height: 10px;
	background: #D7DCDF; 
	border: 0;
	border-radius: 100px;
}

#volume-slide .ui-slider-range { 
	background: #98CE16; 
}

#volume-slide .ui-slider-handle {
	width: 16px;
	height: 16px;
	background: #FFFFFF;
	border: 0;
	border-radius: 8px;
	margin-top: 2px;
}

#radio-audience {
	width: 170px;
	float: left;
}

#radio-audience .radio-icon {
	background-position: -10px -184px;
	margin-top: 15px;
	float: left;
}

#radio-audience #audience-value {
	color: #fff;
	font-weight: bold;
	margin-top: 25px;
}

#radio-audience #audience-value span {
	color: #FFC540;
}

#radio-info {
	background: #2e2e2e;
	float: left;
	width: 225px;
	margin: 5px;
	height: 60px;
}

#radio-info ul {
	list-style-type: none;
}

#radio-info ul li {
	color: #fff;
	margin: 7px 10px;
}

#radio-info ul li i {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../img/man/icons.png) -17px 0;
	text-indent: -9999px;
	margin-right: 5px;
}

#radio-info ul li:nth-child(2) i {
	background-position: -17px -94px;
}

#radio-info ul li span {
	color: #FFC540;
}

.separator {
	width: 1px;
	height: 70px;
	background: #222;
	float: left;
}


.clear {
	clear: both;
}

#stars{
	width: 88px;
	height: 14px;
	float: left;
	background: url(../img/man/stars.png) no-repeat;
	margin-top: 35px;
	margin-left: 15px;
}
#pedidos{
	float: right;
	background:url(../img/man/musica.png);
	width:120px;
	height:20px;
	margin-top: 32px;
	margin-right: 50px;

}
.base-music-now{
    width: 375px;
	height: 14px;
	float: left;
}
.base-music-now .music-now{
    font-family: Arial;
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 35px;
}