<link rel="stylesheet" type="text/css" href="css/edit_profile.css" />
<div class="card">
	<h2 class="title-card">Editar Perfil de: {{user.nome}}</h2>
	<div class="card-content">
		<form ng-submit="submitEditProfile(user_edit)">
			<div class="form-grup">
				<label>Nome:</label>
				<input placeholder="Digite seu nome" required type="text" ng-model="user_edit.nome"/>
			</div>
			<div class="form-grup">
				<label>Sobrenome:</label>
				<input placeholder="Digite seu sobrenome" required type="text" ng-model="user_edit.sobrenome"/>
			</div>
			<div class="form-grup">
				<label>Foto de perfil</label>
				<input id="ooi" type="file" accept="image/x-png,image/jpeg" ng-model="user_edit.photo" />
			</div>{{user_edit.photo}}
			<div class="form-grup">
				<button class="submit">Editar Perfil</button>
			</div>
		</form>
	</div>
</div>