<link rel="stylesheet" type="text/css" href="css/emails.css" />
<div class="card emails">
	<h2 class="title-card">Emails de contato <span ng-if="!typeread">NÃO LIDOS</span><span ng-if="typeread">LIDOS</span></h2>
	<input type="checkbox" ng-model="typeread" value="ds"> <label>LIDOS / NÃO-LIDOS</label>
	<ul class="card-content">
		<h2 ng-if="emails.count==0 && !typeread">Não há email não-lidos</h2>
		<li ng-repeat="email in emails.results | orderBy:'id':true | filter:{stat:(typeread | booln)}">
			<div class="read" ng-if="email.stat==0"> NÃO LIDO</div>
			<div class="read" ng-if="email.stat==1">LIDO</div>
			<div class="name">{{email.nome}}</div>
			<div class="info">{{email.cidade}} - <a href="mailto:{{email.email}}">{{email.email}}</a></div>

			<div class="body">{{email.mensage}}</div>
			<div class="buttons">
				<button ng-click="setRead(email.id, 1)" class="button1 mlido" ng-if="email.stat==0">Marcar como <b>lido</b></button>
				<button ng-click="setRead(email.id, 0)" class="button1 mnlido" ng-if="email.stat==1">Marcar como <b>não-lido</b></button>
			</div>
		</li>
	</ul>
</div>