<link rel="stylesheet" type="text/css" href="css/frases_top.css">
<div class="card">
	<h2 class="title-card">Frases topo (avisos)</h2>
	<ul class="card-content">{{showFrase}}
		<li ng-repeat="frase in frases_top">
			<div class="frase">{{frase.frase}}<span class="date">{{frase.data}}</span></div>
			<div class="buttons">
				<button ng-click="editFrase(frase.id,frase)" class="button1 edit"><ic></ic> Editar</button>
				<button ng-click="deleteFrase(frase.id)" class="button1 delete"><ic></ic> Excluir</button>
			</div>
			<div class="fomr_edit" ng-if="showForm==frase.id">
				<form ng-submit="editFraseSubmit(frase.id,frase_edit)">
					<div class="form-grup">
						<label>Frase:</label>
						<input placeholder="Digite aqui a frase" required type="text" ng-model="frase_edit"/>
					</div>
					<button style="margin-left: 50px;" class="button1 submit">Salvar Frase</button>
				</form>
			</div>
		</li>
	</ul>
</div>
<div class="card" style="margin-top: 40px;">
	<h2 class="title-card">Inserir nova frase</h2>
	<div class="card-content">
		<form ng-submit="insertFrase(insert_frase)">
			<div class="form-grup">
				<label>Frase:</label>
				<input placeholder="Digite aqui a frase" required type="text" ng-model="insert_frase"/>
					<button style="margin-top: 10px;" class="button1 submit">Inserir Frase</button>
			</div>
		</form>
	</div>
</div>