<link rel="stylesheet" type="text/css" href="css/home.css">
<div class="card card-noar">
	<h2 class="title-card">No ar</h2>
	<div class="card-content">
		<div class="photo"></div>
		<div class="name">{{noar.programa}}</div>
		<p>Finaliza as: {{noar.fim*1000 + 7200000 | date:'HH:mm'}}<br />
		Tocando agora: <ic></ic> {{noar.music}}</p>
		<div ng-click="loadNoar()" class="refresh ic"></div>
	</div>
</div>
<div style="margin-top: 30px;" ng-if="user.rank=='Administrador'" class="card card-falaae">
	<h2 class="title-card">Novas mensagens de ouvintes (FalaAe)</h2>
	<div class="card-content">
		<ul>
			<li ng-if="ifFalaae(message.stat)" ng-repeat="message in falaae.messages" ng-if="message.stat==0">
				<div class="author">{{message.author.nome}}</div>{{ifFalaae(message.stat)}}
				<p>{{message.message}}</p>
				<div class="buttons">
					<button ng-click="funcFalaae(message.id, 1)"  ng-if="message.stat==0"  class="yes"><ic></ic> APROVAR</button>
					<button ng-click="funcFalaae(message.id, 0)" class="no"><ic></ic> EXCLUIR</button>
				</div>
			</li>
			<li ng-if="falaae.count==0"><h2>Não há novas mensagens de ouvintes</h2></li>
			<li style="border: none">
				<a ng-click="setDataFalaae(true)"  ng-if="!ifDataFalaae" style="text-decoration: none">
					+ Ver todos
				</a>
				<a ng-click="setDataFalaae(false)"  ng-if="ifDataFalaae" style="text-decoration: none">
					+ Ver menos
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="card" style="margin-top: 30px; text-align: center">Site e Painel desenvolvido por: <a href="//fb.com/pkhadson" target="_blank">Patrick Hadson</a></div>