<link rel="stylesheet" type="text/css" href="css/mais_tocadas.css" />
<div class="card mais_tocadas">
	<h2 class="title-card">Mais Tocadas</h2>
	<ul class="card-content">
		<li ng-repeat="music in musics">
			<p class="data"><b>Música: </b>{{music.music}}</p>
			<p class="data"><b>Artista: </b>{{music.artist}}</p>
			<p class="data"><b>Preview: </b><audio controls>
				<source src="http://radioplayzone.com/preview/music/{{music.music}} - {{music.artist}}" type="audio/mpeg">

			</audio></p>
			<img src="http://radioplayzone.com/images/mais_tocadas/{{music.id}}.jpg" class="image" />
			<div class="buttons">
				<button style="transition:none" ng-if="showForm!=music.id" ng-click="funcShowForm(music)" class="button1" >Editar</button>
			</div>
			<form ng-if="showForm==music.id" ng-submit="submitEditMusic(editM)">
				<input style="margin-left: 50px;margin-top: 20px;" type="checkbox" ng-model="editM.showForm"><label>Pesqusiar Automaticamente</label>
				<div class="form-grup" ng-if="editM.showForm">
					<label>Musica - Artista: [PARA PESQUISAR AUTOMATICAMENTE]</label>
					<input placeholder="Digite aqui o titulo da musica para pesquisa" required type="text" ng-model="editM.search"/>
				</div>
				<div class="form-grup" ng-if="!editM.showForm">
					<label>Musica:</label>
					<input placeholder="Digite aqui o nome da musica" required type="text" ng-model="editM.music"/>
				</div>
				<div class="form-grup" ng-if="!editM.showForm">
					<label>Artista:</label>
					<input placeholder="Digite aqui o nome do artista" required type="text" ng-model="editM.artist"/>
				</div>
				<div class="form-grup" ng-if="!editM.showForm">
					<label>Capa do album:</label>
					<img src="{{editM.image}}" height="100px" width="100px"  id="src_image" />
					<input onchange="changeImage(event)" id="image" ng-if="!editM.image" required type="file" accept="image/x-png,image/jpeg" ng-model="editM.file"/>
					<input onchange="changeImage(event)" id="image" ng-if="editM.image" type="file" accept="image/x-png,image/jpeg" ng-model="editM.file"/>
				</div>
				<button style="margin-left: 50px;transition:none !important" ng-if="editM.showForm" style="margin-left: 50px;" class="button1 submit">Pesquisar Musica</button>
				<button style="margin-left: 50px;transition:none !important" ng-if="!editM.showForm" style="margin-left: 50px;" class="button1 submit">Salvar Musica</button>
			</form>
		</li>
	</ul>
</div>