<link rel="stylesheet" type="text/css" href="css/top_nacional.css" />
<div class="card mais_tocadas">
	<h2 class="title-card">Parceiros</h2>
	<ul class="card-content">
		<li style="width: 80%;border-bottom: solid 1px rgba(0,0,0,0.2);margin-bottom: 10px;padding-bottom: 10px;" ng-repeat="parceiro in parceiros">
			<p><b>Nome:</b> {{parceiro.titulo}}</p>
			<p><b>Link:</b> <a href="{{parceiro.link}}" target="_blank">{{parceiro.link}}</a></p>
			<p><b>Imagem:</b> <img width="162px" height="45px" src="http://radioplayzone.com/images/parceiros/{{parceiro.id}}.jpg" /></p>
			<button style="transition:none" ng-if="showForm!=parceiro.id" ng-click="funcShowForm(parceiro)" class="button1">Editar</button>
			<form ng-if="showForm==parceiro.id" ng-submit="submitEditParceiro(editP)">
				<div class="form-grup">
					<label>Titulo:</label>
					<input placeholder="Digite aqui o nome do parceiro" required type="text" ng-model="editP.titulo"/>
				</div>
				<div class="form-grup">
					<label>Link (URL de redirecionamento):</label>
					<input placeholder="Digite aqui o url de redirecionamento" required type="text" ng-model="editP.link"/>
				</div>
				<div class="form-grup">
					<label>Banner (162x45):</label>
					<img width="162px" height="45px" id="src_image" src="http://radioplayzone.com/images/parceiros/{{editP.id}}.jpg" />
					<input accept="image/x-png,image/jpeg" onchange="changeImage(event)" id="image" type="file" ng-model="editP.image"/>
				</div>
				<button style="margin-left: 8%;" class="button1">Salvar</button>
			</form>
		</li>
	</ul>
</div>
<div class="card" style="margin-top: 30px;">
	<h2 class="title-card">Criar novo parceiro</h2>
	<div class="card-content">
		<form ng-submit="submitNewParceiro(newP)">
			<div class="form-grup">
				<label>Titulo:</label>
				<input placeholder="Digite aqui o nome do parceiro" required type="text" ng-model="newP.titulo"/>
			</div>
			<div class="form-grup">
				<label>Link (URL de redirecionamento):</label>
				<input placeholder="Digite aqui o url de redirecionamento" required type="text" ng-model="newP.link"/>
			</div>
			<div class="form-grup">
				<label>Banner (162x45):</label>
				<img width="162px" height="45px" id="src_image2" />
				<input accept="image/x-png,image/jpeg" required onchange="changeImage2(event)" id="image2" type="file" ng-model="newP.image"/>
			</div>
			<button style="margin-left: 8%;" class="button1">Salvar</button>
		</form>
	</div>
</div>