<link rel="stylesheet" type="text/css" href="css/top_nacional.css" />
<div class="card mais_tocadas">
	<h2 class="title-card">Pedidos</h2>
	<ul class="card-content">
		<li style="width: 80%;border-bottom: solid 1px rgba(0,0,0,0.2);margin-bottom: 10px;padding-bottom: 10px;" ng-repeat="pedido in pedidos">
			<b>Nome:</b> {{pedido.author.nome}}<br />
			<p>{{pedido.message}}</p>

			<button style="transition:none" ng-click="deletePedido(pedido.id, $index)" class=" delete button1">Excluir</button>
		</li>
	</ul>
</div>