<link rel="stylesheet" type="text/css" href="css/programas.css">
<div class="card">
	<h2 class="title-card">Programação</h2>
	<div class="card-content">
		<div class="dias">
			<div ng-click="setDia('')" ng-class="{'oi':dia==''}" class="dia">TODOS</div>
			<div ng-click="setDia('Seg')" ng-class="{'oi':dia=='Seg'}" class="dia">SEG</div>
			<div ng-click="setDia('Ter')" ng-class="{'oi':dia=='Ter'}" class="dia">TER</div>
			<div ng-click="setDia('Qua')" ng-class="{'oi':dia=='Qua'}" class="dia">QUA</div>
			<div ng-click="setDia('Qui')" ng-class="{'oi':dia=='Qui'}" class="dia">QUI</div>
			<div ng-click="setDia('Sex')" ng-class="{'oi':dia=='Sex'}" class="dia">SEX</div>
			<div ng-click="setDia('Sab')" ng-class="{'oi':dia=='Sab'}" class="dia">SAB</div>
			<div ng-click="setDia('Dom')" ng-class="{'oi':dia=='Dom'}" class="dia">DOM</div>
		</div>
		<style type="text/css">
			div.oi{
				color:#f00;
			}
		</style>
		<ul class="programas">
			<h1 class="nf" ng-if="!programas">Nenhum programa pra esse dia</h1>
			<li ng-repeat="programa in programas | filter:{diasa:dia}" style="margin-top: 10px;padding-top:10px;border-top: solid 1px rgba(0,0,0,0.1)">
				<h3 class="title-card title-programa">{{programa.programa}}</h3>
				<p><b>Inicio às:</b> {{(programa.inicio*1000)+(60*60*2*1000) | date:'HH:mm'}}</p>
				<p><b>Termina às:</b> {{(programa.fim*1000)+(60*60*2*1000) | date:'HH:mm'}}</p>
				<p><b>Dias de:</b> <a ng-repeat="(key,value) in programa.diasa | orderBy:'value':true">{{value}} |</a></p>
				<button style="transition: none" ng-if="showForm!=programa.id" ng-click="funcShowForm(programa)" class="button1">Editar</button>
				<button ng-click="deletePrograma(programa.id)" class="button1" style="background: #d65656">Excluir</button>
				<form ng-if="showForm==programa.id" ng-submit="submitPrograma(editP)">
					<div class="form-grup">
						<label>Nome do programa:</label>
						<input placeholder="Digite o nome do programa" 	required type="text" ng-model="editP.programa"/>
					</div>
					<div class="form-grup">
						<label>Horario de inicio:</label>
						<input required type="time" max="{{editP.fim | date:'HH:mm'}}" ng-model="editP.inicio"  />
					</div>
					<div class="form-grup">
						<label>Horario do fim:</label>
						<input required type="time" min="{{editP.inicio | date:'HH:mm'}}" ng-model="editP.fim"  />
					</div>
					<div class="form-grup">						<label>É um programa automatico?:</label>
						<input type="checkbox" ng-model="editP.loc" style="height: 16px;margin-top: -20px;" />
					</div>
					<div class="form-grup">
						<label>Marque os dias que esse programas acontecera:</label>
						<div class="no-label"><input type="checkbox" ng-model="editP.dias.Seg" /><label>Segunda</label></div>
						<div class="no-label"><input type="checkbox" ng-model="editP.dias.Ter" /><label>Terça</label></div>
						<div class="no-label"><input type="checkbox" ng-model="editP.dias.Qua" /><label>Quarta</label></div>
						<div class="no-label"><input type="checkbox" ng-model="editP.dias.Qui" /><label>Quinta</label></div>
						<div class="no-label"><input type="checkbox" ng-model="editP.dias.Sex" /><label>Sexta</label></div>
						<div class="no-label"><input type="checkbox" ng-model="editP.dias.Sab" /><label>Sabado</label></div>
						<div class="no-label"><input type="checkbox" ng-model="editP.dias.Dom" /><label>Domingo</label></div>
					</div>
					<div class="form-grup">
						<label>Banner do programa:</label>
						<input type="file" id="image" accept="image/x-png,image/jpeg"  />
					</div>
					<button style="margin-left: 8%;" class="button1">Salvar</button>
				</form>
			</li>
		</ul>
	</div>
</div>

<div class="card" style="margin-top: 30px;">
	<h2 class="title-card">Criar novo programa</h2>
	<div class="card-content">
		<form ng-submit="submitNewPrograma(newP)">
			<div class="form-grup">
				<label>Nome do programa:</label>
				<input placeholder="Digite aqui o nome do programa" required type="text" ng-model="newP.programa"/>
			</div>
			<div class="form-grup">
				<label>Horario de inicio:</label>
				<input type="time" max="{{newP.fim | date:'HH:mm'}}" required ng-model="newP.inicio" />
			</div>
			<div class="form-grup">
				<label>Horario do fim:</label>
				<input type="time" min="{{newP.inicio | date:'HH:mm'}}" required ng-model="newP.fim" />
			</div>
			<div class="form-grup">
				<label>É um programa automatico?</label>
				<input type="checkbox" ng-model="newP.loc"  style="height: 16px;width: 16px;"  />
			</div>
			<div class="form-grup">
				<label>Marque os dias que esse programas acontecera:</label>
				<div class="no-label"><input type="checkbox" ng-model="newP.dias.Seg" /><label>Segunda</label></div>
				<div class="no-label"><input type="checkbox" ng-model="newP.dias.Ter" /><label>Terça</label></div>
				<div class="no-label"><input type="checkbox" ng-model="newP.dias.Qua" /><label>Quarta</label></div>
				<div class="no-label"><input type="checkbox" ng-model="newP.dias.Qui" /><label>Quinta</label></div>
				<div class="no-label"><input type="checkbox" ng-model="newP.dias.Sex" /><label>Sexta</label></div>
				<div class="no-label"><input type="checkbox" ng-model="newP.dias.Sab" /><label>Sabado</label></div>
				<div class="no-label"><input type="checkbox" ng-model="newP.dias.Dom" /><label>Domingo</label></div>
			</div>
			<div class="form-grup">
				<label>Banner:</label>
				<img height="162px" src="http://radioplayzone.com/images/cover.png" id="src_image2" />
				<input accept="image/x-png,image/jpeg" required onchange="changeImage2(event)" id="image2" type="file" ng-model="newP.image"/>
			</div>
			<button style="margin-left: 8%;" class="button1">Salvar</button>
		</form>
	</div>
</div>