
				<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
	<link rel="stylesheet" href="http://textangular.com/dist/textAngular.css">
	<link rel="stylesheet" href="http://textangular.com/css/style.css" type="text/css">

<div class="card">
	<h2 class="title-card">Configuracoes da rádio</h2>
	<div class="card-content">
		<form ng-submit="submitRadioConfig(radioconfig)">
			<div class="form-grup">
				<label>IP:</label>
				<input placeholder="Digite o ip do streaming" required type="text" ng-model="radioconfig.ip"/>
			</div>
			<div class="form-grup">
				<label>Porta:</label>
				<input placeholder="Digite a porta do streaming" required type="number" ng-model="radioconfig.porta"/>
			</div>
			<div class="form-grup" style="width: 90%">
				<label>Pagina sobre</label>
				<!---<textarea id="froala-editor" id="pzz" ng-model="radioconfig.page_sobre"></textarea> -->
				<div text-angular ng-model="radioconfig.page_sobre" name="demo-editor" ta-text-editor-class="clearfix border-around" ta-html-editor-class="border-around" style="width:100%"></div>
			</div>
			<div class="form-grup">
				<label>Programa do mês</label>
				<select ng-model="radioconfig.programa_mes" ng-options="programa.id as programa.programa for programa in programas">
				</select>
			</div>
			<div class="form-grup">
				<button class="submit">Editar Perfil</button>
			</div>
		</form>
	</div>
</div>
