
<div class="card mais_tocadas">
	<h2 class="title-card">Slide</h2>
	<ul class="card-content">
	<h2 class="nf" ng-if="slides.lenght==0">NENHUM SLIDE</h2>
		<li style="width: 80%;border-bottom: solid 1px rgba(0,0,0,0.2);margin-bottom: 10px;padding-bottom: 10px;" ng-repeat="slide in slides">
			<p><b>Titulo:</b> {{slide.title}}</p>
			<p><b>Sub-titulo:</b> {{slide.subtitle}}</p>
			<p><b>Link:</b> <a href="{{parceiro.link}}" target="_blank">{{slide.link}}</a></p>
			<p><b>Imagem:</b> <img width="auto" height="200px" src="http://radioplayzone.com/images/slide/{{slide.id}}.jpg" /></p>
			<button style="transition:none" ng-if="showForm!=slide.id" ng-click="funcShowForm(slide)" class="button1">Editar</button>
			<button ng-click="funcDeleteSlide(slide.id)" class="button1 delete"><ic></ic> Excluir</button>
			<form ng-if="showForm==slide.id" ng-submit="submitEditSlide(editS)">
				<div class="form-grup">
					<label>Titulo:</label>
					<input placeholder="Digite aqui o titulo do slide" required type="text" ng-model="editS.title"/>
				</div>
				<div class="form-grup">
					<label>Sub-titulo:</label>
					<input placeholder="Digite aqui o sub-titulo do slide" required type="text" ng-model="editS.subtitle"/>
				</div>
				<div class="form-grup">
					<label>Link (URL de redirecionamento):</label>
					<input placeholder="Digite aqui o url de redirecionamento" required type="text" ng-model="editS.link"/>
				</div>
				<div class="form-grup">
					<label>Tipo de redirecionamento:</label>
					<div><input class="radio" type="radio" name="target" ng-model="editS.target" value="_self" /><label>Interno</label>	</div>
					<div><input class="radio" type="radio" name="target" ng-model="editS.target" value="_blank" /><label>Externo</label	></div>
				</div>
				<div class="form-grup">
					<label>Banner (765x260):</label>
					<img height="150px" src="http://radioplayzone.com/images/slide/{{editP.id}}.jpg" id="src_image2" />
					<input accept="image/x-png,image/jpeg" onchange="changeImage2(event)" id="image2" type="file" ng-model="editS.image"/>
				</div>
				<button style="margin-left: 8%;" class="button1">Salvar</button>
			</form>
		</li>
	</ul>
</div>
<div class="card" style="margin-top: 30px;">
	<h2 class="title-card">Criar novo slide</h2>
	<div class="card-content">
		<form ng-submit="submitNewSlide(newS)">
			<div class="form-grup">
				<label>Titulo:</label>
				<input placeholder="Digite aqui o titulo do slide" required type="text" ng-model="newS.title"/>
			</div>
			<div class="form-grup">
				<label>Sub-titulo:</label>
				<input placeholder="Digite aqui o sub-titulo do slide" required type="text" ng-model="newS.subtitle"/>
			</div>
			<div class="form-grup">
				<label>Link (URL de redirecionamento):</label>
				<input placeholder="Digite aqui o url de redirecionamento" required type="text" ng-model="newS.link"/>
			</div>
			<div class="form-grup">
				<label>Tipo de redirecionamento:</label>
				<div><input class="radio" type="radio" name="target" ng-model="newS.target" value="_self" /><label>Interno</label></div>
				<div><input class="radio" type="radio" name="target" ng-model="newS.target" value="_blank" /><label>Externo</label></div>
			</div>
			<div class="form-grup">
				<label>Banner (765x260):</label>
				<img height="150px" src="##" id="src_image2" />
				<input accept="image/x-png,image/jpeg" required onchange="changeImage2(event)" id="image2" type="file" ng-model="newS.image"/>
			</div>
			<button style="margin-left: 8%;" class="button1">Salvar</button>
		</form>
	</div>
</div>