<link rel="stylesheet" type="text/css" href="css/top_nacional.css" />
<div class="card mais_tocadas">
	<h2 class="title-card">Top Nacional</h2>
	<ul class="card-content">
		<li style="width: 80%;border-bottom: solid 1px rgba(0,0,0,0.2);margin-bottom: 10px;padding-bottom: 10px;" ng-repeat="music in musics">
			<p><b>Artista:</b> {{music.artist}}</p>
			<p><b>Musica:</b> {{music.music}}</p>
			<button style="transition:none;" ng-if="showForm!=music.id" ng-click="funcShowForm(music)" class="button1">Editar</button>
			<form ng-if="showForm==music.id" ng-submit="submitMusic(editM)">
				<div class="form-grup">
					<label>Musica:</label>
					<input placeholder="Digite aqui o nome da musica" required type="text" ng-model="editM.music"/>
				</div>
				<div class="form-grup">
					<label>Artista:</label>
					<input placeholder="Digite aqui o nome do artista" required type="text" ng-model="editM.artist"/>
				</div>
				<button style="margin-left: 8%;" class="button1">Salvar</button>
			</form>
		</li>
	</ul>
</div>