.emails li{
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px rgba(0,0,0,0.1);
}
.emails ul.card-content{
    padding:0;
    margin:0;
    list-style:none;
}
.emails ul.card-content li a{
    color:#ccc;
}
.emails ul.card-content .name{
    font-size: 20px;
    line-height: 30px;
}
.emails ul.card-content .name::before{
    content:"Nome: ";
    font-weight: 100;
}
.emails ul.card-content li .read{
    background: rgba(0,0,0,.1);
    color:#000;
    float:  left;
    line-height:17px;
    font-size: 13px;
    margin-top:6.5px;
    margin-right: 10px;
}
.emails ul.card-content .info{
    line-height: 30px;
}
.emails ul.card-content .body{
    padding:20px;
}
.emails ul.card-content .body::after{
    content:'"';
    font-family:dddd;
}
.emails ul.card-content .body::before{
    content:'"';
    font-family:dddd;
}
.emails ul.card-content li{
    transition:all 0.2s;
}
.emails ul.card-content li.ng-enter{
    opacity: 0;
}

.emails ul.card-content li.ng-enter-active{
    opacity: 1;
}
.emails ul.card-content li.ng-leave{
    display:none;
}