button.delete{
    background:#d65656;
}
.buttons{
	margin-top: 10px;
	margin-left: 30px;
}
ul.card-content{
	list-style: none;
	padding: 0;
	margin:0;
}
ul.card-content .frase{
	padding: 20px;
}
ul.card-content .frase .date{
	margin-left: 20px;
	opacity: 0.5;
}
ul.card-content li{
	border-top: solid 1px #ccc;
	margin-top: 20px;
}
ul.card-content li:first-child{
	border: none;
}