.card-noar .photo{
    height: 200px;
    width: 200px;
    background:#ccc;
    float: left;
}
.card-noar .name{
    float: left;
    margin-left: 10px;
    font-size: 30px;
    width:calc(100% - 210px)
}
.card-noar p{
    line-height: 40px;
    margin-left:10px;
    float: left;
    width:calc(100% - 210px);
}
.card-noar .refresh{
    line-height:40px;
    width: 40px;
    background:#ccc;
    float:left;
    text-align: center;
    border-radius:50%;
    margin-left:20px;
    transition: transform 100s;
    cursor: pointer;
}
.card-noar .refresh:hover{
    transform: rotate(300000deg);
    transition: transform 500s;
}
.card-falaae ul{
    list-style: none;
    padding:0;
    margin: 0;
    width:95%;
    margin:0 auto;
}
.card-falaae ul li{
    border-bottom: solid 1px #ccc;
    width:100%;
    padding-bottom:20px;
    margin-bottom: 20px;
}
.card-falaae .author{
    font-size:25px;
    font-weight: 600;
}
.card-falaae .author::before{
    content:"";
    font-family: FontAwesome;
    color:#ccc;
    margin-right: 20px;
    font-weight:100;
}
.card-falaae button.yes,.card-falaae button.no{
    border: solid 2px rgba(0,0,0,0.1);
    line-height:30px;
    color:#fff;
    font-family:inherit;
    padding-left:10px;
    padding-right: 10px;
    border-radius:5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    cursor:pointer;
    transition:all 0.2s;
}
.card-falaae button.yes{
    background:#98ce16;
}
.card-falaae button.no{
    background:#d65656;
}
.card-falaae .buttons:hover button{
    filter: grayscale(100%);
    transition:all 0.2s;
}
.card-falaae .buttons button:hover{
    filter: grayscale(0%);
    transition:all 0.2s;
}