.dias{
    width:90%;
    margin:0 auto;
    display: table;
}
.dias .dia{
    width:calc((100% / 8) - 8px);
    float: left;
    background: rgba(0,0,0,0.1);
    margin:4px;
    line-height: 40px;
    text-align: center;
    border-bottom: solid 2px rgba(0,0,0,0.0);
    transition: 0.5s;
    font-size: 20px;
    font-weight: 100;
}
.dias .dia.oi{
    border-bottom: solid 2px rgba(0,0,0,0.2);
    transition: 0.5s;
    font-weight: 600;
    opacity: 0.8;
    color:#52c3b4;
}