@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('http://fontawesome.io/assets/font-awesome/css/font-awesome.css');
:root {
  --cor1: #464E53;
  --cor2: #98CE16;
}

body{
	background:#f1f1f1;
	padding: 0;
	margin:0;
	color:#333;
	font-family: 'Open Sans', sans-serif;
}
.top{
	background:var(--cor1);
	width: 100%;
	line-height:40px;
	border-bottom: solid 2px var(--cor2);
	color:#fff;
	text-align: center;
	display:table;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);

}
.top .center{
	width:auto;
	margin:0 auto;
	display:table;
}
.top .photo{
	height: 30px;
	width:30px;
	background:#ccc;
	margin-left: 10px;
	margin-top:5px;
	margin-right: 20px;
	border-radius: 50%;
	float:left;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.top span{
	float:left;
}
.menu-left{
	width: 250px;
	background: var(--cor1);
	height:calc(100% - 42px);
	bottom: 0;
	position:fixed;
	box-shadow: inset 5px 5px 10px rgba(0,0,0,0.2);
	color:#fff;
	box-shadow: 3px 0px 5px rgba(0,0,0,0.1);
	left: 0;
	top:42px;
}
.menu-left > .menu-top{
	margin-top:20px;
	display:table;
	padding-left:10px;;
	width:calc(100% - 10px);
	border-bottom: solid 1px rgba(255,255,255,0.1);
	padding-bottom: 15px;
}
.menu-left > .menu-top .photo{
	height:50px;
	width:50px;
	background:#ccc;
	float: left;
	border-radius: 50%;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.menu-left > .menu-top .name{
	line-height:20px;
	float:left;
	font-weight: bold;
	margin-left:10px;
}
.menu-left > .menu-top .rank{
	opacity: 0.5;
	margin-left:10px;
	float: left;
}
.menu-left > ul{
	list-style:none;
	padding:0;
	margin: 0;
	color:#fff;
}
.menu-left a{
	color:inherit;
	text-decoration: inherit;
}
ic, .ic{
	font-family: FontAwesome;
}
.menu-left > ul ic{
	background: var(--cor2);
	line-height:30px;
	width:30px;
	display:inline-block;
	border-radius:50%;
	text-align: center;
	color:var(--cor1);
	margin-right:10px;
}
.menu-left > ul li{
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	border-radius:0px 10px 10px 0px;
	position:relative;
}
.menu-left > ul li .count{
	background:#c50808;
	height:20px;
	width:20px;
	text-align:center;
	font-size: 13px;
	border-radius: 50%;
	right: 10px;
	top:16px;
	color:#fff;
	position:absolute;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
.menu-left > ul li:hover{
	background:var(--cor2);
	color:var(--cor1);
}
.menu-left > ul li:hover ic{
	background:var(--cor1);
	color: var(--cor2);
}
.menu-left > ul{
	overflow-y: scroll;
	height:calc(100% - 86px);
}
.menu-left > ul::-webkit-scrollbar{
	background:transparent;
	height:4px;
}
.menu-left > ul::-webkit-scrollbar-thumb{
	background:var(--cor2);
	height:4px;
	border-radius:5000px;
	border-right: solid var(--cor1) 1px;
	margin-right:100px;
}
.content{
	width:calc(100% - 350px);
	height:calc(100% - 60px);
	padding-right: 50px;
	right:0px;
	position:fixed;
	top:60px;
	overflow:scroll;
}
.content::-webkit-scrollbar{
	background:transparent;
	height:4px;
}
.content::-webkit-scrollbar-thumb{
	background:var(--cor2);
	height:4px;
	border-radius:5000px;
	margin-right:100px;
}
.card{
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 3px;
    padding:10px;
}
.card .title-card{
    margin:0;
    padding:0;
    border-left: solid 3px var(--cor2);
    padding-left: 10px;
    color:#222;
    text-transform:uppercase;
    margin-bottom: 10px;
}
.card .card-content{
    display:table;
    width:100%;
}
button.submit{
	background:var(--cor2);
	color:#fff;
	font-family:inherit;
	line-height:30px;
	width:150px;
	border: solid 2px rgba(0,0,0,0.1);
	border-radius:5px;
	box-shadow:2px 2px 5px rgba(0,0,0,0.1);
	cursor:pointer;
}
.button1{
    border: solid 2px rgba(0,0,0,0.1);
    line-height:30px;
    color:#fff;
    font-family:inherit;
    padding-left:10px;
    padding-right: 10px;
    border-radius:5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    cursor:pointer;
    transition:all 0.2s;
    background:#98ce16;
    outline:none;

}
.form-grup{
    width: 50%;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.form-grup input[type='checkbox']{
	width: 16px;
	height: 16px;
}
.form-grup input,.form-grup select{
    line-height: 30px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.2);
    width:100%;
    padding-left:10px;
    outline:none;
    font-family: inherit;
}
.form-grup label:not(.no-label label){
    position: absolute;
    line-height:16px;
    padding-left: 10px;
    font-size: 14px;
    margin-top: -16px;
    transition:all 1s;
    pointer-events:none;
    font-weight: 100;
}
.form-grup input[type='file']{
    border:none;
}
.form-grup input[type='radio']{
	width:15px;
	margin-left:60px;
	position:absolute;
	margin-top:-2px;
}
.delete{
	background: #d65656;
}